h2{
  margin-bottom: 30px;
}

[class*=col]{
  padding: 0px;
}

.row{
  padding-left: 15px;
}

.default-header{
  margin-top: 20px;
}
.breadcrumb{
  background-color: white;
  padding-left: 0px;
}

.form-control {
  width: 75%;
}
.input-group {
  margin-bottom: 0px;
  /*width: 75%;*/
}
.checkbox{
  margin: 0px;
  padding: 0px;
}
.label{
  font-size: 50%;
}
.borderless td{
  border:none;
  padding-right: 10px;
  padding-bottom: 10px;
}
