<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" style="text-align: center;" ng-controller="warehouseController">
      <h2>Select Warehouse</h2>
        <form class="form-inline">
          <div class="form-group">
            <select class="form-control" ng-model="selectedWarehouse.data"> Select Warehouse
              <option ng-repeat="warehouse in response.data.data" value="{{warehouse.name}}">{{warehouse.name}}</option>
            </select>
          </div>
          <button type="submit" name="button" class="btn btn-default" ng-click="selectWarehouse()">Lanjut</button>
        </form>
    </div>
  </body>
</html>
